html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;

  #block-meta-list {
    width: 270px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #aaaaaa;

    .block-meta {
      border: 1px solid #aaaaaa;
      margin: 10px 0;
      padding: 10px;
      background: white;
      cursor: grab;
    }
  }

  #container {
    flex: 1;
    height: 100%;
    padding: 10px;
    padding-top: 50px;
    box-sizing: border-box;
    border: 1px solid #aaaaaa;
    display: flex;
    flex-direction: column;
    overflow: auto;


    .block-wrap {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .block {
      border: 1px solid #aaaaaa;
      padding: 10px;
      min-width: 240px;
      background: white;
      cursor: grab;
    }

    .block-arrow {
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top: 10px solid gray;
      margin-top: 10px;
    }

    .block-frame {
      margin-top: 10px;
      min-height:40px;
      padding: 10px;
      border: 1px dashed gray;
    }

  }
}





